<!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                    <a href="<%=  %>" class="logo">
                       <span class="symbol"><%= image_tag('logo.svg') %></span><span class="title">CursoRoR</span>
                    </a>

                <!-- Nav -->
                    <nav>
                        <ul>
                             <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>

            </div>
        </header>