<!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                    <%=  link_to(root_path, class: 'logo') do %>
                       <span class="symbol"><%= image_tag('logo.svg') %></span><span class="title">Curso</span>
                    <% end %>

                <!-- Nav -->
                    <nav>
                        <ul>
                             <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>

            </div>
        </header>