<!-- Menu -->
                    <nav id="menu">
                        <h2>Curso RoR</h2>
                        <ul>
                            <li><%= link_to('Palestras', root_path) %></li>
                            <li><%= link_to('Inscreva-se', new_attendee_path) %></li>
                            <li><%= link_to('Contato', new_contact_path) %></li>
                        </ul>
                    </nav>
